body {
  padding-top: 5rem;
  background-color: #ffcbf2 ;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.my-btn {
  background-color: #ffcbf2 ;
  border-color: #ffcbf2;

}
.my-btn:hover{
  background-color: blueviolet;
}
.discount {
  color: #da1e37
}

.bar {
background-color: #cbc0d3  ;

}

.navbar-brand.logo {
  color: #7b2cbf
}

.dropdown {
   color-adjust:#ffcbf2;

}

.main-menu .active>.nav-link{
  color: #7b2cbf !important;
}

.heading1 {
  color: #7b2cbf
}

.products {
  margin-top: 20px;
}

.footer-size {
  width: 30%;
  margin-left: 400px;
  margin
  }

.au-pic{
  width: 600px;
  margin-left: 250px;
  
  
}

.btn-submit{
  margin-left: 710px;
 margin-top: 2px;
}

.contact-margin{
  margin-left: 500px;
}




